# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv*/
.env/

# macOS files
.DS_Store

# IDE files
.vscode/
.idea/

# Local temp files
*.log
*.tmp

# Videos uploaded for testing
/tmp/
